.App {
  text-align: center;
}

.header {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border:0;
}

.main {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border:0;

  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border:0;
}

/* Themes */

.light {
  background-color: antiquewhite;
  color: darkslategrey;
}

.dark {
  background-color: rgb(54, 54, 54);
  color: antiquewhite;
}